.comic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.comic:hover {
  cursor: pointer;
}

.poster {
  border-radius: 30px;
  width: 300px;
}

.comic.activeCom {
  opacity: 1;
}

.title {
  width: 300px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.titleContainer {
  height: 50px;
}
